.collapsible{
    max-width: 500px;
}
.block-message{
    position: absolute;
    content: '';
    left: 0;
    border: 1px solid rebeccapurple;
    min-height: 60%;
}

.block-user{

}

.offset-s6{
    min-height: 50vh !important;

}

.horizontal {
    height: 50vh !important;
}